Imports

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime

Scrape all text from the rankings page and store as list of lines.

In [3]:
#Rankings URL
URL = 'https://www.ufc.com/rankings'

response = requests.get(URL)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')
# Extract all text from the webpage
text = soup.get_text(separator='\n', strip=True)

# Split the text into lines
lines = text.splitlines()

print(lines)

['UFC Rankings, Division Rankings, P4P rankings, UFC Champions | UFC.com', 'Skip to main content', 'UFC', 'Rankings', 'Main navigation', 'Events', 'Upcoming', 'Past', 'Tickets', 'VIP Experiences', 'Group Sales', 'UFC Fight Pass Invitational', 'Road to UFC', "Dana White's Contender Series", 'Rankings', 'Athletes', 'All Athletes', 'Hall of Fame', 'Record Book', 'News', 'UFC', 'Connect', 'Newsletter', 'UFC Fight Club', 'UFC Apex', 'Find a Gym', 'EA Sports UFC 5', 'Betting Odds', 'Watch', 'How to Watch', 'Find a Bar', 'UFC Fight Pass', 'UFC Video Archive', 'SHOP', 'UFC STORE', 'UFC COLLECTIBLES', 'VENUM FIGHT WEEK', 'UFC STRIKE', 'MORE', 'Athlete Rankings', "What's Trending Now", 'Sponsored By', "Men's Pound-for-Pound", 'Top Rank', "Men's Pound-for-Pound", 'Top Rank', 'Islam Makhachev', '1', 'Islam Makhachev', '2', 'Jon Jones', '3', 'Alex Pereira', '4', 'Ilia Topuria', '5', 'Merab Dvalishvili', 'Rank increased by', '2', '6', 'Belal Muhammad', 'Rank decreased by', '1', '7', 'Dricus Du Plessis', 'Rank decreased by', '1', '8', 'Tom Aspinall', '9', 'Alexandre Pantoja', '10', 'Leon Edwards', '11', 'Alexander Volkanovski', '12', 'Max Holloway', '13', "Sean O'Malley", '14', 'Sean Strickland', '15', 'Charles Oliveira', 'Flyweight', 'Flyweight', 'Alexandre Pantoja', 'Champion', '1', 'Brandon Royval', '2', 'Brandon Moreno', '3', 'Amir Albazi', '4', 'Kai Kara-France', '5', 'Tatsuro Taira', '6', 'Manel Kape', '7', 'Alex Perez', '8', 'Asu Almabayev', '9', 'Steve Erceg', '10', 'Tim Elliott', '11', 'Tagir Ulanbekov', '12', 'Charles Johnson', '13', 'Bruno Silva', '14', 'Kai Asakura', '15', 'Joshua Van', 'Bantamweight', 'Bantamweight', 'Merab Dvalishvili', 'Champion', '1', "Sean O'Malley", '2', 'Petr Yan', 'Rank increased by', '1', '3', 'Umar Nurmagomedov', 'Rank decreased by', '1', '4', 'Cory Sandhagen', '5', 'Deiveson Figueiredo', '6', 'Marlon Vera', '7', 'Henry Cejudo', '8', 'Song Yadong', '9', 'Rob Font', '10', 'Mario Bautista', '11', 'José Aldo', '12', 'Kyler Phillips', '13', 'Aiemann Zahabi', '14', 'Marcus McGhee', '15', 'Montel Jackson', 'Featherweight', 'Featherweight', 'Ilia Topuria', 'Champion', '1', 'Alexander Volkanovski', '2', 'Max Holloway', '3', 'Diego Lopes', '4', 'Movsar Evloev', '5', 'Yair Rodriguez', '6', 'Brian Ortega', '7', 'Arnold Allen', '8', 'Josh Emmett', '9', 'Aljamain Sterling', '10', 'Calvin Kattar', '11', 'Lerone Murphy', '12', 'Giga Chikadze', '13', 'Bryce Mitchell', '14', 'Dan Ige', '15', 'Edson Barboza', 'Lightweight', 'Lightweight', 'Islam Makhachev', 'Champion', '1', 'Arman Tsarukyan', '2', 'Charles Oliveira', '3', 'Justin Gaethje', '4', 'Dustin Poirier', '5', 'Max Holloway', '6', 'Dan Hooker', '7', 'Michael Chandler', '8', 'Mateusz Gamrot', '9', 'Beneil Dariush', '10', 'Renato Moicano', '11', 'Rafael Fiziev', '12', 'Paddy Pimblett', 'Rank increased by', '1', '13', 'Jalin Turner', 'Rank increased by', '1', '14', 'Benoît Saint Denis', 'Rank decreased by', '2', '15', 'Grant Dawson', 'NR', 'Welterweight', 'Welterweight', 'Belal Muhammad', 'Champion', '1', 'Leon Edwards', '2', 'Shavkat Rakhmonov', '3', 'Kamaru Usman', '4', 'Jack Della Maddalena', '5', 'Sean Brady', '6', 'Joaquin Buckley', '7', 'Ian Machado Garry', '8', 'Gilbert Burns', '9', 'Colby Covington', '10', 'Geoff Neal', '11', 'Stephen Thompson', '12', 'Michael Morales', '13', 'Carlos Prates', '14', 'Vicente Luque', '15', 'Michael Page', 'Middleweight', 'Middleweight', 'Dricus Du Plessis', 'Champion', '1', 'Sean Strickland', '2', 'Israel Adesanya', '3', 'Khamzat Chimaev', '4', 'Robert Whittaker', '5', 'Nassourdine Imavov', '6', 'Caio Borralho', '7', 'Marvin Vettori', '8', 'Jared Cannonier', '9', 'Brendan Allen', '10', 'Roman Dolidze', '11', 'Paulo Costa', '12', 'Anthony Hernandez', '13', 'Jack Hermansson', '14', 'Shara Magomedov', '15', 'Michel Pereira', 'Light Heavyweight', 'Light Heavyweight', 'Alex Pereira', 'Champion', '1', 'Magomed Ankalaev', '2', 'Jiří Procházka', '3', 'Jan Błachowicz', 'Rank increased by', '1', '4', 'Jamahal Hill', 'Rank decreased by', '1', '5', 'Aleksandar Rakić', '6', 'Carlos Ulberg', '7', 'Khalil Rountree Jr.', '8', 'Nikita Krylov', '9', 'Volkan Oezdemir', '10', 'Johnny Walker', '11', 'Dominick Reyes', '12', 'Azamat Murzakanov', '13', 'Bogdan Guskov', '14', 'Anthony Smith', '15', 'Alonzo Menifield', 'Heavyweight', 'Heavyweight', 'Jon Jones', 'Champion', '1', 'Tom Aspinall', 'interim', '2', 'Ciryl Gane', '3', 'Alexander Volkov', '4', 'Sergei Pavlovich', '5', 'Curtis Blaydes', '6', 'Jailton Almeida', '7', 'Serghei Spivac', '8', 'Marcin Tybura', '9', 'Jairzinho Rozenstruik', '10', 'Derrick Lewis', '11', 'Tai Tuivasa', '12', 'Marcos Rogerio de Lima', '13', 'Waldo Cortes Acosta', '14', 'Shamil Gaziev', '15', 'Mick Parkin', "Women's Pound-for-Pound", 'Top Rank', "Women's Pound-for-Pound", 'Top Rank', 'Valentina Shevchenko', '1', 'Valentina Shevchenko', '2', 'Zhang Weili', '3', 'Alexa Grasso', '4', 'Julianna Peña', '5', 'Manon Fiorot', '6', 'Erin Blanchfield', '7', 'Kayla Harrison', '8', 'Rose Namajunas', '9', 'Raquel Pennington', '10', 'Tatiana Suarez', '11', 'Yan Xiaonan', '12', 'Virna Jandiroba', '13', 'Jéssica Andrade', '14', 'Natalia Silva', '15', 'Maycee Barber', "Women's Strawweight", "Women's Strawweight", 'Zhang Weili', 'Champion', '1', 'Tatiana Suarez', '2', 'Yan Xiaonan', '3', 'Virna Jandiroba', '4', 'Jéssica Andrade', '5', 'Amanda Lemos', '6', 'Mackenzie Dern', '7', 'Iasmin Lucindo', '8', 'Amanda Ribas', '9', 'Marina Rodriguez', '10', 'Tabatha Ricci', '11', 'Loopy Godinez', '12', 'Gillian Robertson', '13', 'Angela Hill', '14', 'Luana Pinheiro', '15', 'Tecia Pennington', "Women's Flyweight", "Women's Flyweight", 'Valentina Shevchenko', 'Champion', '1', 'Alexa Grasso', '2', 'Manon Fiorot', '3', 'Erin Blanchfield', '4', 'Maycee Barber', '5', 'Natalia Silva', '6', 'Rose Namajunas', '7', 'Jéssica Andrade', '8', 'Katlyn Cerminara', '9', 'Viviane Araújo', '10', 'Amanda Ribas', '11', 'Tracy Cortez', '12', 'Jasmine Jasudavicius', '13', 'Karine Silva', '14', 'Ariane da Silva', '15', 'Miranda Maverick', "Women's Bantamweight", "Women's Bantamweight", 'Julianna Peña', 'Champion', '1', 'Raquel Pennington', '2', 'Kayla Harrison', '3', 'Ketlen Vieira', '4', 'Norma Dumont', '5', 'Macy Chiasson', 'Rank decreased by', '1', '6', 'Irene Aldana', '7', 'Mayra Bueno Silva', 'Rank decreased by', '1', '8', 'Karol Rosa', 'Rank increased by', '1', '9', 'Yana Santos', 'Rank increased by', '1', '10', 'Miesha Tate', 'Rank increased by', '1', '11', 'Ailin Perez', 'Rank increased by', '2', '12', 'Julia Avila', '13', 'Jacqueline Cavalcanti', 'Rank increased by', '1', '14', 'Chelsea Chandler', 'Rank increased by', '1', '15', 'Nora Cornolle', 'NR', 'How are rankings determined?', 'How are rankings determined?', 'Rankings were generated by a voting panel made up of media members.', 'The media members were asked to vote for who they feel are the top fighters in the UFC by weight-class and pound-for-pound. A fighter is only eligible to be voted on if they are in active status in the UFC.', 'A fighter can appear in more than one weight division at a time. The champion and interim champion are considered to be in the top positions of their respective divisions and therefore are not eligible for voting by weight-class. However, the champions can be voted on for the pound-for-pound rankings.', 'The rankings panel is comprised of media members from the following outlets:', 'MMA Oddsbreaker, CFMU 93.3, Bursprak.se, FightNews, Fight Network, Gazeta Esportiva, Cherokee Scout, Burbank Leader, MMA Weekly, KIOZ 105.3, Vladusport.com, Wrestling Observer, Top Turtle Podcast, MMA Fight Coverage, BoxeoMundial, Kimura.se, MMA Soldier, MMA NYTT, Blood & Sweat, Inside Fighting Radio', 'Last', '                    updated: Tuesday, Jan. 21', 'NR - Not Previously Ranked', 'What’s your opinion?', 'Comments', 'UFC.COM - United States', 'Brazil', 'China', 'France', 'Japan', 'Korea', 'Latin America', 'Russia', 'USA Espanol', 'Footer', 'UFC', 'The Sport', 'UFC Foundation', 'Careers', 'Store', 'UFC Fight Club', 'UFC Video Archive', 'Social Media', 'Facebook', 'Instagram', 'TikTok', 'Twitter', 'YouTube', 'Help', 'Fight Pass FAQ', 'Devices', 'Press Credentials', 'Legal', 'Terms', 'Privacy Policy', 'Ad Choices', 'Do Not Sell or Share']

Convert lines to pandas dataframe with a single column called 'Fighter'. Then trim unnessecary text from the top and bottom of the data frame.

In [4]:
#Convert to pandas dataframe
df = pd.DataFrame({'Fighter':lines})

#Trim unnecessary rows
rmtop = df[df['Fighter'] == 'Top Rank'].index
df = df.loc[rmtop[0] + 1:]

rmbottom = df[df['Fighter'] == 'How are rankings determined?'].index
df = df.loc[:rmbottom[0]-1]

df.head(10)

                  Fighter
44  Men's Pound-for-Pound
45               Top Rank
46        Islam Makhachev
47                      1
48        Islam Makhachev
49                      2
50              Jon Jones
51                      3
52           Alex Pereira
53                      4

Initialize the notes column and define values to move to the new column. Notes will be copied to the 'Notes' column and dropped from the 'Fighter' column.

In [5]:
#Create notes column and populate it with the values in the list below
comments = ['NR', 'Champion', 'interim', 'Rank increased by', 'Rank decreased by']

df['Notes'] = None

df.reset_index(drop = True, inplace = True)

for comment in comments:
    indices = df[df['Fighter'] == comment].index
    for index in indices:
        if index > 0:
            df.at[index - 1, 'Notes'] = comment
            df.at[index, 'Fighter'] = pd.NA

#drop empty rows
df = df.dropna(subset = ['Fighter'])
df.reset_index(drop = True, inplace = True)

df.head(10)

                 Fighter Notes
0  Men's Pound-for-Pound  None
1               Top Rank  None
2        Islam Makhachev  None
3                      1  None
4        Islam Makhachev  None
5                      2  None
6              Jon Jones  None
7                      3  None
8           Alex Pereira  None
9                      4  None

Add the rank change number to the comment and drop from the 'Fighter' column.

In [6]:
#Convert notes and fighter columns to strings
df['Notes'] = df['Notes'].astype(str)
df['Fighter'] = df['Fighter'].astype(str)

#Iterate through rows to add number ranks changed to notes
for index, row in df.iterrows():
    if 'Rank' in row['Notes']:
        if index + 1 < len(df):
            nextrow = df.iloc[index + 1]['Fighter']
            df.at[index, 'Notes'] += ' ' + nextrow
            df.at[index + 1, 'Fighter'] = pd.NA

#Drop empty rows
df = df.dropna(subset = ['Fighter'])
df.reset_index(drop = True, inplace = True)

df.head(10)

                 Fighter Notes
0  Men's Pound-for-Pound  None
1               Top Rank  None
2        Islam Makhachev  None
3                      1  None
4        Islam Makhachev  None
5                      2  None
6              Jon Jones  None
7                      3  None
8           Alex Pereira  None
9                      4  None

Initialize the 'Division' column and populate it from the values in the 'Fighter' column. Division values will then be dropped from 'Fighter'.

In [7]:
#Ordered list of divisions
divisions = [
"Men's Pound-for-Pound", 
"Flyweight", 
"Bantamweight",
"Featherweight",
"Lightweight",
"Welterweight",
"Middleweight",
"Light Heavyweight",
"Heavyweight",
"Women's Pound-for-Pound",
"Women's Strawweight",
"Women's Flyweight",
"Women's Bantamweight",
]

#Initailize division column
df['Division'] = None

#Iterate through rows adding the division to each row
for row in range(len(df)):
    if df.at[row, 'Fighter'] in divisions:
        currentdivision = df.at[row, 'Fighter']
    df.at[row, 'Division'] = currentdivision

#Remove rows with the top rank text
df = df[df['Fighter'] != 'Top Rank']
df = df[~df['Fighter'].isin(divisions)]

df.reset_index(drop = True, inplace = True)

df.head(10)

           Fighter Notes               Division
0  Islam Makhachev  None  Men's Pound-for-Pound
1                1  None  Men's Pound-for-Pound
2  Islam Makhachev  None  Men's Pound-for-Pound
3                2  None  Men's Pound-for-Pound
4        Jon Jones  None  Men's Pound-for-Pound
5                3  None  Men's Pound-for-Pound
6     Alex Pereira  None  Men's Pound-for-Pound
7                4  None  Men's Pound-for-Pound
8     Ilia Topuria  None  Men's Pound-for-Pound
9                5  None  Men's Pound-for-Pound

Initalize 'Ranking' column and populate with values from the 'Fighter' column. Then, drop values from 'Fighter'.

In [8]:
#Initalize ranking column
df['Ranking'] = None

#Iterate through rows adding ranking to ranking column
for index, row in df.iterrows():
    if len(row['Fighter']) < 3:
        if index + 1 < len(df):
            currentranking = df.iloc[index]['Fighter']
            df.at[index + 1, 'Ranking'] = currentranking

df.loc[df['Notes'] == 'Champion', 'Ranking'] = 0

#Drop empty rows
df = df.dropna(subset = ['Ranking'])

df.head(10)

              Fighter                Notes               Division Ranking
2     Islam Makhachev                 None  Men's Pound-for-Pound       1
4           Jon Jones                 None  Men's Pound-for-Pound       2
6        Alex Pereira                 None  Men's Pound-for-Pound       3
8        Ilia Topuria                 None  Men's Pound-for-Pound       4
10  Merab Dvalishvili  Rank increased by 2  Men's Pound-for-Pound       5
12     Belal Muhammad  Rank decreased by 1  Men's Pound-for-Pound       6
14  Dricus Du Plessis  Rank decreased by 1  Men's Pound-for-Pound       7
16       Tom Aspinall                 None  Men's Pound-for-Pound       8
18  Alexandre Pantoja                 None  Men's Pound-for-Pound       9
20       Leon Edwards                 None  Men's Pound-for-Pound      10

Initialize the 'Date' column and populate each row with the current date in YYYY-MM-DD format. Then, sort columns by date, division, then ranking in ascending order. Division will be sorted in the order of the list 'divisions'.

In [9]:
#Create date column
df['Date'] = None

#Add today's date to all rows
df['Date'] = datetime.now().strftime('%Y-%m-%d')

#Sort Columns
df = df[['Date', 'Division', 'Fighter', 'Ranking', 'Notes']]

df.head(10)

,Date,Division,Fighter,Ranking,Notes
2,2025-01-25,Men's Pound-for-Pound,Islam Makhachev,1,None
4,2025-01-25,Men's Pound-for-Pound,Jon Jones,2,None
6,2025-01-25,Men's Pound-for-Pound,Alex Pereira,3,None
8,2025-01-25,Men's Pound-for-Pound,Ilia Topuria,4,None
10,2025-01-25,Men's Pound-for-Pound,Merab Dvalishvili,5,Rank increased by 2
12,2025-01-25,Men's Pound-for-Pound,Belal Muhammad,6,Rank decreased by 1
14,2025-01-25,Men's Pound-for-Pound,Dricus Du Plessis,7,Rank decreased by 1
16,2025-01-25,Men's Pound-for-Pound,Tom Aspinall,8,None
18,2025-01-25,Men's Pound-for-Pound,Alexandre Pantoja,9,None
20,2025-01-25,Men's Pound-for-Pound,Leon Edwards,10,None

Combine the new data to the existing csv in the repository.

In [10]:
#Read in existing csv from repository
existing_csv = pd.read_csv('UFC_Rankings.csv')

#Combine the existing csv with the new data
combined = pd.concat([existing_csv, df], ignore_index=False)

combined.loc[combined['Ranking'] == 'Champion', 'Ranking'] = 0
combined.loc[combined['Ranking'] == 0, 'Notes'] = 'Champion'

combined['Division'] = pd.Categorical(combined['Division'], categories=divisions, ordered=True)
combined['Ranking'] = combined['Ranking'].astype(int)

#Sort values and convert back to a csv
combined = combined.sort_values(by=['Date', 'Division', 'Ranking'], ascending=[False, True, True])
combined.to_csv('UFC_Rankings.csv', index=False)

combined = combined.sort_values(by=['Date', 'Division', 'Ranking'], ascending=[False, True, True])
combined.to_csv('UFC_Rankings.csv', index=False)